<!DOCTYPE html>
<!--FINAL PAGE -- USER HAS COMPLETED REGISTRATION-->
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Complete!</title>
        <link rel="stylesheet" type="text/css" href="StyleSheet1.css">
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn3.iconfinder.com/data/icons/i-drawn-kid/500/balloon-512.png" />
    </head>
    <body>
        <header class="subHead">
            <h1>Box of Chocolates</h1>
        </header>
        <div class="mainDiv">
            <h2>Registration Complete!</h2>
            <fieldset>
                <img id="casumo" src="https://media.giphy.com/media/l46CdUTy21h8wwrAs/giphy.gif" />
            </fieldset>
        </div>
    </body>
</html>
