<!DOCTYPE html>
<!--IF USER GETS TO PAGE 2 AND THERE IS NO SESSION, THEY ARRIVE HERE-->
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
        <link rel="stylesheet" type="text/css" href="StyleSheet1.css">
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn3.iconfinder.com/data/icons/i-drawn-kid/500/balloon-512.png" />
    </head>
    <body>
        <header class="subHead">
            <h1>Box of Chocolates</h1>
        </header>
        <div class="fullScreenDiv">
            <h2 id="leftError">Something went wrong...</h2>
            <h2 id="rightError">...very, very wrong.</h2>
        </div>
    </body>
</html>
